extends ../../layouts/default.pug

block main 
  if (data.title)
    h1(class="mb-4") #{data.title}

  if (data.description)
    div(class="mb-4") !{data.description}

  a(
    href=`${prefixAdmin}/datas/edit/${data.id}`
    class="btn btn-warning"
  ) Chỉnh sửa
