extends ../../layouts/default.pug

block main
  .container.my-5
    .row.justify-content-center
      .col-12.col-md-8
        h1(class="text-center") Đăng nhập tài khoản
        form(
          action="/user/login"
          method="POST"
        )
          .mb-3
            label(for="email" class="form-label") Email
            input(
              type="email"
              class="form-control"
              id="email"
              name="email"
              required
            )
          .mb-3
            label(for="password" class="form-label") Mật khẩu
            input(
              type="password"
              class="form-control"
              id="password"
              name="password"
              required
            )
          .mb-3
            button(
              type="submit"
              class="btn btn-primary w-100"
            ) Đăng nhập