extends ../../layouts/default.pug

block main
  .container.my-5
    .row.justify-content-center
      .col-8
        h1.text-center Nhập mã OTP xác thực
        form(action="/user/password/otp" method="POST")
          .mb-3
            label(for="email" class="form-label") Email
            input(
              type="email"
              class="form-control"
              id="email"
              name="email"
              required
              value=email
              readonly
            )

          .mb-3
            label(for="otp" class="form-label") Mã OTP
            input(
              type="text"
              class="form-control"
              id="otp"
              name="otp"
              required
            )

          .mb-3
            button(
              type="submit"
              class="btn btn-primary w-100"
            ) Xác nhận
