extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  .container.my-5
    .row.justify-content-center
      .col-8
        h1(class="text-center") Đổi mật khẩu
        form(
          action="/user/password/reset"
          method="POST"
        )
          div(class="mb-3")
            label(for="password" class="form-label") Mật khẩu mới
            input(
              type="password"
              class="form-control"
              id="password"
              name="password"
              required
            )

          div(class="mb-3")
            label(for="confirmPassword" class="form-label") Xác nhận mật khẩu
            input(
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              required
            )

          div(class="d-grid gap-2")
            button(
              type="submit"
              class="btn btn-primary"
            ) Đổi mật khẩu